<section>
  <h2>Create New Blog Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title"></label>
      <input type="text" id="post-title" name="post-title" placeholder="Title" />
    </div>
    <div>
      <textarea class="new-post-textbox" id="post-content" name="post-content" placeholder="Blog Content"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Blog Posts</h2>
    <ul>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">
              <button type="submit" class="btn">Edit Post</button>
            </a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>